<div class="block-content">
    <div class="block-name">
        <p><ng-content></ng-content></p>
        <img [src]="inputData.poster_path" alt="inputData.title">
        <h2>{{ inputData.title }}</h2>
        <p>{{ inputData.overview | rowLength:120 }}</p>
        <p><i>Duration: {{ inputData.duration | transformTime }}</i></p>
    </div>
    <div class="block-button">
        <button class="btn btn-primary" (click)="addToWatchList()">Add to watchList</button>
        <button class="btn btn-primary" (click)="addToFavorites()">Add to favorites</button>
    </div>
</div>