.block-content{
    .block-name{
        h2{
            min-height: 54px;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    list-style: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
img{
    position: relative;
    max-width: 100px;
    cursor: pointer;
}

:host ::ng-deep .p-card-title{
    min-height: 54px;
}
:host ::ng-deep .p-button {
    margin-right: 5px;
    padding: 5px 10px;
    display: inline-block; 
}
i{
    margin-right: 10px;
}