.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.footer-block{
    display: flex;
    justify-content: space-around;
}
.movie-favorites, .movie-watchList{
    width: 400px;
    height: 200px;
    border: 1px solid #8cbee5;
    h2{
        text-align: center;
        color: rgb(52, 115, 209);
    }
}