<div class="container-card">
    <div *ngFor="let movie of data">
        <app-movie-card [inputData]="movie" (addFavorites)="handleAddFavorites($event)"
            (addWatchList)="handleAddWatchList($event)">
            Movie:
        </app-movie-card>
    </div>


</div>
<div class="footer-block">
    <div class="movie-favorites">
        <h2>Favorites</h2>
        <ul>
            <li *ngFor="let favorite of Favorites">{{ favorite }}</li>
        </ul>
    </div>
    <div class="movie-watchList">
        <h2>WatchList</h2>
        <ul>
            <li *ngFor="let watchList of WatchList">{{ watchList }}</li>
        </ul>
    </div>
</div>