.container-card {
    display: flex;
    flex-wrap: wrap;
}

.footer-block{
    display: flex;
    justify-content: space-around;
}
.movie-favorites, .movie-watchList{
    width: 400px;
    padding: 20px;
    border: 1px solid #8cbee5;
    h2{
        text-align: center;
        font-family: sans-serif;
        color: rgb(52, 115, 209);
    }
    p{
        text-align: center;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }
    li{
        list-style: square;
    }
    img{
        max-width: 50px;
    }
    .watchList-item,
    .favorite-item{
        display: flex;
        margin-bottom: 20px;
        border-bottom: 1px solid;
        .watchList-img-block,
        .favorite-img-block{
            margin-right: 15px;
        }
        .watchList-content-block,
        .favorite-content-block{
            h5{
                margin: 0px;
            }
            p{
                text-align: start;
                font-size: 15px;
            }
        }
    }
}