<div class="header">
    <div class="header-logo">
        <h2><a [routerLink]="['/']" routerLinkActive="router-link-active" alt="logo">logo</a></h2>
    </div>
    <div class="header-tabs">
        <p-tabMenu [model]="items" />
    </div>
</div>
<div class="main">
    <div class="main-menu">
        <!-- <p-menu [model]="itemsMenu" /> -->
        <ul>
            <li *ngFor="let item of itemsMenu">
                <a [routerLink]="item.routerLink" routerLinkActive="router-link-active">{{ item.label }}</a>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>