<div class="header">
    <div class="header-logo">
        <h2>logo</h2>
    </div>
    <div class="header-tabs">
        <p-tabMenu [model]="items" />
    </div>
</div>
<div class="main">
    <div class="main-menu">
        <!-- <p-menu [model]="itemsMenu"></p-menu> -->
        <ul>
            <li><a [routerLink]="['/movies/nowPlayingMovies']" routerLinkActive="router-link-active">Now Playing</a></li>
            <li><a [routerLink]="['/movies/popularMovies']" routerLinkActive="router-link-active">Popular</a></li>
            <li><a [routerLink]="['/movies/topRatedMovies']" routerLinkActive="router-link-active">Top Rated</a></li>
            <li><a [routerLink]="['/movies/upcomingMovies']" routerLinkActive="router-link-active">Upcoming</a></li>
        </ul>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>
<app-movie-details-page>

</app-movie-details-page>