<div class="header">
    <div class="header-logo">
        <h2><a [routerLink]="['/']" routerLinkActive="router-link-active" alt="logo">logo</a></h2>
    </div>
    <div class="header-tabs">
        <p-tabMenu [model]="items"></p-tabMenu>
        <a [routerLink]="['/admin']" class="admin-link">Admin Panel</a>
    </div>
</div>
<div class="main">
    <div class="main-menu">
        <p-menu [model]="itemsMenu" />
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>